@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');


#section1 {
    margin-top: 100px;
}
#section1 article {
    padding: 460px 0;
    width: 50%;
    float: left;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
#section1 article:first-child {
    background: url(../images/cdc-dispatch3_1440_1200.jpg);
}
#section1 article:last-child {
    background-image: url(../images/lcp-push-nav-visuel-texte-bas5_1440_1200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#section1 article p {
    font-size: 14px;
    opacity: 0;
    transition: all 0.5s;
}
#section1 article:hover p {
    opacity: 1;
}
#section2 {
    font-size: 13px;
}
#section2 .inner {
    padding: 2.5rem;
}
#section2 .content {
    overflow: hidden;
}
#section2 .content > li {
    float: left;
    width: 25%;
    line-height: 3em;
}
#section2 li{
    overflow: hidden;
}
#section2 .newsletter li:first-child {
    font-size: 11px;
    color: #757575;
    line-height: 20px;
    width: 80%;
}
#section2 .newsletter input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
}
#section2 .newsletter input::placeholder {
    color: #000;
}
#section2 .supply a {
    float: left;
}
#section2 .supply i {
    float: right;
    transform: translate(-50px, 10px);
    font-size: 14px;
}
#section2 .supply li:hover {
    color: #757575;
}
#section2 .diorhouse  li:nth-child(1),
#section2 .diorhouse  li:nth-child(3),
#section2 .diorhouse  li:nth-child(4){
    overflow: hidden;
}
#section2 .diorhouse  li:nth-child(1) a,
#section2 .diorhouse  li:nth-child(3) a,
#section2 .diorhouse  li:nth-child(4) a{
    float: left;
}
#section2 .diorhouse  li:nth-child(1) i,
#section2 .diorhouse  li:nth-child(3) i,
#section2 .diorhouse  li:nth-child(4) i{
    float: right;
    transform: translate(-50px, 10px);
    font-size: 14px;
}
#section2 .diorhouse li:nth-child(2) a,
#section2 .diorhouse li:nth-child(5) a{
    position: relative;
}
#section2 .diorhouse li:nth-child(2) a::after,
#section2 .diorhouse li:nth-child(5) a::after{
    content: '';
    height: 1px;
    background: #757575;
    position: absolute;
    top: 100%;
    left: 0;
    right: 100%;
    transform: translatey(-5px);
    transition: all 0.5s;
}
#section2 .diorhouse li:nth-child(2):hover a::after,
#section2 .diorhouse li:nth-child(5):hover a::after{
    right: 0;
}
#section2 .diorhouse li:hover {
    color: #757575;
}
#section2 .findshop li a {
    position: relative;
}
#section2 .findshop li a::after {
    content: '';
    height: 1px;
    background: #757575;
    position: absolute;
    top: 100%;
    left: 0;
    right: 100%;
    transform: translatey(-5px);
    transition: all 0.5s;
}
#section2 .findshop li:hover a::after {
    right: 0;
    
}
#section2 .findshop li:hover a {
    color: #757575;
}